<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Charity Search Results</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<H1>Matches for <span th:text="${searchTerm}"></span></H1>

<div id=missingCharityMessage th:if="${#lists.isEmpty(matches)}">
    <div>No matching charity</div>
</div>

<div id=charityListContainer th:if="${not #lists.isEmpty(matches)}">
    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Registration Number</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="charity : ${matches}">
            <td>
                <a th:href="@{/charity/{id} (id=${charity.id})}">
                    <span th:text="${charity.name}"></span>
                </a>
            </td>
            <td th:text="${charity.registrationNumber}"></td>
        </tr>
        </tbody>
    </table>


</div>

<div th:replace="fragments/footer :: footer">


</body>
</html>
