<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head"></head>

<body>

<div th:replace="fragments/header :: header"></div>

<div id=missingCharityMessage th:if="${#lists.isEmpty(matches)}">
    <div>No matching charity</div>
</div>

<main role="main" class="container">
    <div class="starter-template">
        <div class="row">

            <h2>Matches for &quot;<span th:text="${searchTerm}"></span>&quot;</h2>
        </div>

        <div class="row">
            <div id=charityListContainer th:if="${not #lists.isEmpty(matches)}">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Registration Number</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="charity : ${matches}">
                        <th scope="row">
                            <a th:id="@{charityLink{id} (id=${charity.id})}"
                               th:href="@{/charity/{id} (id=${charity.id})}">
                                <span th:text="${charity.name}"></span>
                            </a>
                        </th>
                        <td th:text="${charity.registrationNumber}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>


<div th:replace="fragments/footer :: footer"/>


</body>
</html>
