<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${charity}? ${charity.name} + ' Profile' : 'No Matching Charity'">No Matching Charity</title>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div id=paymentDetails>
    <div>
        Make payment for &nbsp;
        <div th:text="${id}"/>
    </div>

    <div>

        Your details:<br>
        <div th:text="${donor.name}"></div>
        <div th:text="${donor.postcode}"></div>

    </div>

    <form action="/paymentDetails" method="post">
        <input type="text" name="cardNumber" id="cardNumber" value="cardNumber"/><br>

        <input type="checkbox" name="isCardAddressHomeAddress" id="isCardAddressHomeAddress"/><br>

        <input type="submit" id="submit" value="submit"/><br>


    </form>

</div>


<div th:replace="fragments/footer :: footer">
</div>


</body>
</html>