<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${charity}? ${charity.name} + ' Profile' : 'No Matching Charity'">No Matching Charity</title>

    <script src="/js/dustjs-2.7.2/dist/dust-full.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src = "/js/js-url-2.5.3/url.js" ></script >


</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div id="charityDetails">
    <!-- Inject Charity Details here-->
</div>

<div id=donorDetails>

    Please enter your details

    <form action="/donorDetails" method="post">

        <input type="text" name="name" id="name" value="Your name"/><br>
        <input type="text" name="addressLine1" id="addressLine1" value="Address Line 1"/><br>
        <input type="text" name="addressLine2" id="addressLine2" value="Address Line 2"/><br>
        <input type="text" name="addressLine3" id="addressLine3" value="Address Line 3"/><br>
        <input type="text" name="postcode" id="postcode" value="Postcode"/><br>

        Please tick this box to confirm that we can claim Gift Aid on this donation.

        <input type="checkbox" name="isGiftAidEligible" id="isGiftAidEligible"/><br>

        <input type="submit" id="submit" value="Go to payment"/><br>

    </form>


</div>


<div th:replace="fragments/footer :: footer">
</div>

<script type="text/javascript">

    //dust.config.cache=false;

    var template = "Thank you for supporting {name}."+
    "<H1>{acronym}</h1>"+
    "<img src=\"/images/{logoPath}.png\"/>";


    // Compile the template under the name 'hello'
    var compiled = dust.compile(template, 'charityInfo');
    // Register the template with Dust
    dust.loadSource(compiled);



    $(document).ready(function() {


        $.ajaxSetup({cache: false});

        var id = $.url(2);

        $.ajax({//send the AJAX request
            type: "GET",
            url: "/api/charity/" + id,
            dataType: "json"
            , cache: false
            , timeout: 600000
            , async: true
            , encode: true
        })
            .done(function (data) {
                dust.render('charityInfo',
                    data,
                    function (err, out) {
                        console.log(out);
                        // `out` contains the rendered output.
                        document.getElementById('charityDetails').innerHTML = out;
                    }
                )
            })
            .fail(function (jqXHR, textStatus, errorThrown) { //and what to do if it fails
                console.log("failed");
            });
    });



</script>

</body>
</html>