<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${charity}? ${charity.name} + ' Profile' : 'No Matching Charity'">No Matching Charity</title>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div id=donorDetails>

    Please enter your details

    <form action="/donorDetails" method="post">

        <input type="text" name="name" id="name" value="Your name"/><br>
        <input type="text" name="addressLine1" id="addressLine1" value="Address Line 1"/><br>
        <input type="text" name="addressLine2" id="addressLine2" value="Address Line 2"/><br>
        <input type="text" name="addressLine3" id="addressLine3" value="Address Line 3"/><br>
        <input type="text" name="postcode" id="postcode" value="Postcode"/><br>

        <input type="checkbox" name="isGiftAidEligible" id="isGiftAidEligible"/><br>

        <input type="submit" id="submit" value="submit"/><br>

    </form>



    <a href="/payment">
        <span>Make payment</span>
    </a>

</div>


<div th:replace="fragments/footer :: footer">
</div>


</body>
</html>