<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${charity}? ${charity.name} + ' Profile' : 'No Matching Charity'">No Matching Charity</title>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div id=paymentConfirmation>

        Thank you : <br>
        <div th:text="${donor.name}"></div>

    </div>
    For your donation to: <br>
        <div th:text="${id}"/>

    </div>

    Using card: <br>
    <div th:text = "'**** **** ****'+${last4Card}">
    </div>


</div>


<div th:replace="fragments/footer :: footer">
</div>


</body>
</html>